.two_section{
  background-color: #2226355e;
}

.two {
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 170px;
}
.twoWrapper {
  margin: 0 auto;
  
}

.twoContent p {
  color: #a8a8b3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.twoContainer {
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
}

.twoContainer::before {
  content: "";
  position: absolute;
  background: linear-gradient(94deg, #9b51e0 2.84%, #3081ed 99.18%);
  opacity: 0.4;
  height: 450px;
  left: 0;
  right: 0;
  max-width: 1280px;
  width: 200vh;
  border-radius: 99px;
  margin: 0 auto;
  filter: blur(70px);
  z-index: -1;
}

.twoContent {
  margin: 0 auto;
  margin-top: 70px;
}

.twoContent h2 {
  font-size: 42px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.twoTxt p {
  margin-top: 10px;
  color: #a8a8b3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 40ch;
}

.twoTxt img {
  margin: 0 auto;
}

.twoTxt h2 {
  margin-top: 10px;
  text-align: center;
  color: #fff;
}


@media (max-width: 600px) {
  .twoWrapper {
    flex-direction: column;
  }
  .twoContent h2 {
    max-width: 20ch;
    text-align: center;
  }
  .twoContent p {
    padding-top: 10px;
    max-width: 20ch;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .twoContainer {
    flex-direction: column;
  }
  .twoContainer::before {
    height: 100%;
    max-width: 600px;
  }
}
