:root{
  --primari-color:#05C7F2;
}
.header {
  padding: 8px 0;
  position: relative;
}

.header_wrapper {
  max-width: 1280px;
  padding: 12px 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul_wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  transition: .5s;
}

.ul_wrapper li{
  transition: .5s;
}

.ul_wrapper .linksMenuLi:hover{
  color: var( --primari-color);
}
.nav_li a {
  color: #fff;
}

.nav_li a .gitHubIcon{
  display: flex;
  align-items: center;
}

.nav_li .btn_singIn:hover{
  color: var( --primari-color);
}

.LogoButton {
  background-color: transparent;
  border: transparent;
}

.btn_wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.btn_login {
  color: #fff;
  padding: 8px 24px;
  background: linear-gradient(90deg, #13BBF3 -1.43%, #6C69F7 99.9%);
  border-radius: 10px;
}

.btn_singIn {
  color: #fff;
}

.btn_login:hover {
  color: var(--primari-color);
  background: #fff;
}

#buttonMobile {
  display: none;
}

@media(max-width:600px){
/* menu mobile */
nav {
  display: none;
}
#buttonMobile {
  display: block;
  background-color: transparent;
  border: transparent;
}
#MenuIcons{
  width: 20px;
  height: 20px;
}
.btn_wrapper{
  padding: 42px 16px;
  flex-direction: column;
  align-items: flex-start;
}
/* estilo para o menu ativo */
.active nav {
  transition: .5s;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px; /* ajuste conforme necessário */
  left: 0;
  width: 100%;
  background-color: #181B26; /* cor de fundo do menu mobile */
  z-index: 1;
}

.active .ul_wrapper {
  padding: 16px 20px;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.active .nav_li {
  text-align: center;
}
}



/* adicione mais estilos conforme necessário para o menu mobile */
