footer {
  background: #181B26;
}
.footerWrapper {
  padding-top: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 64px;
}

.FooterP {
  color: #fff;
  display: block;
  padding-top: 16px;
  font-size: 16px;
  max-width: 40ch;
}

.FooterSpan {
  color: #fff;
  display: block;
  font-size: 16px;
  max-width: 45ch;
  padding-bottom: 16px;
}

.inputFooter {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #a9afbb;
  background-color: #282828;
  border: none;
  border-radius: 10px;
}
.WrapperlistUl {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.containerUl ul .footerA{
  color: var(--title-primary);
  font-weight: 300;
}

.containerUl ul .footerA:hover{
  color: var(--hover-color);
}

.containerUl ul .footerTitle{
  font-weight: 600;
  color: var(--title-primary);
}
.footerFlex {
  position: relative;
}

.copyWrapper {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.containerCopy{
  background: #202433;
}

.ulCopyRede {
  display: flex;
  gap: 8px;
}
.copyWrapper div p {
  color: var(--title-primary);
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 600px) {
  .footerWrapper {
    border-top: 2px solid #fff;
  }

  .footerContainer div .FooterLogo {
    margin: 0 auto;
  }
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
  .FooterP {
    text-align: left;
    padding: 8px 16px;
  }
  .FooterSpan {
    padding-top: 1rem;
    text-align: center;
    max-width: 40ch;
  }
  .WrapperlistUl {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  .copyWrapper {
    flex-direction: column;
    padding: 1rem 1rem;
  }
}
